@import '../../scssMixin/generateClassName2';
@import '../../scss/vars';

:global {
    .z-collapse-btn {
        position: absolute;
        top: 8px;
        left: 0px;
        padding: 3px 10px 3px 6px;
        border-radius: 0 $border-radius-base $border-radius-base 0;
        color: white;
        font-size: 12px;
        transform: translate(-64%, 0);
        transition: transform 0.25s ease-in;
        background-color: rgba($primary-color, 0.4);
        z-index: 9;
        &:hover {
            transform: translate(0, 0);
            cursor: pointer;
            background-color: $primary-color;
        }
    }
}

@mixin navTheme($name, $nav-bg) {
    @include is($name) {
        background-color: $nav-bg;
    }
    @at-root {
        :global {
            .z-side-menu-#{$name} {
                 .ant-menu-sub {
                    background-color: $nav-bg;
                }
            }
        }
    }
}

@mixin logoTheme($name, $nav-bg) {
    @include is($name) {
        background-color: $nav-bg;
        border-bottom: 1px solid $nav-bg;
        color: lighten($nav-bg, 90%);
    }
}

@include z('main-left') {
    position: relative;
    z-index: 3;

    user-select: none;
    @include is('dark') {
        box-shadow: none;
    }
    @include is('light') {
        box-shadow: 2px 0px 20px $--shadow-black;
    }
}

@include z('main-logo') {
    overflow: hidden;
    @include logoTheme('light', $--main-logo-light-bg);
    @include logoTheme('dark', $--main-logo-dark-bg);
    @include logoTheme('mazarine', $--main-logo-mazarine-bg);
    @include is('light') {
        background-color: $--main-logo-light-bg;
        border-bottom: 1px solid $border-color-base;
        color: $text-color;
    }
}
@include z('main-nav') {
    .ant-menu-dark {
        background-color: transparent;
    }
    @include navTheme('light', $--main-nav-light-bg);
    @include navTheme('dark', $--main-nav-dark-bg);
    @include navTheme('mazarine', $--main-nav-mazarine-bg);
    @include is('light') {
        .iScrollIndicator {
            background-color: rgba(#c1c1c1, 0.3);
            background-image: none;
        }
    }
}

@include z('main-header') {
    background-color: white;
    border-bottom: 1px solid $border-color-base;
}
