@import "../../scssMixin/generateClassName";


$--row-gutter: 12px;
@include z("form-row") {
	margin-left: -$--row-gutter;
	margin-right: -$--row-gutter;
	& > div {
		padding-left: $--row-gutter;
		padding-right: $--row-gutter;
	}
}
