@import "../../scssMixin/generateClassName2";
@import "../../scss/vars";
@include z("page-header") {
	// background-color: white;
	padding: 20px 20px 0;
	// box-shadow: $--box-shadow;

	@include z("page-header-title") {
		margin-top: 0px;
		margin-bottom: 8px;
		font-size: 18px;
		color: #333333;
		letter-spacing: 0;
	}

	.ant-tabs-bar {
		margin-bottom: 0;
		border-color: transparent;
	}
}

@include z("pillars") {
	& > li {
		list-style: none;
		height: 6px;
		width: 60px;
		&.blue {
			background-color: $--blue-color;
		}
		&.yellow {
			background-color: $--yellow-color;
		}
		&.green {
			background-color: $--green-color;
		}
		&.red {
			background-color: $--red-color;
		}
	}
}
