@import '../../scssMixin/generateClassName2';
@import '../../scss/common/z-info';

:global {
    // $-info-bg: #e7f3fc;
    // $-info-border-corlor: darken($-info-bg, 12%);

    .z-info-col {
        .z-info {
         
            overflow: hidden;
            flex-wrap: nowrap;
        }
        .z-info-left-content,
        .z-info-right-content {
            margin-bottom: -1px;
        }
        .z-info-right-content {
            border-right: 1px solid $border-color;
            margin-right: -1px;
            overflow: hidden;
        }
    
    }
    .z-info-col + .z-info-col {
        .z-info-left-content,
        .z-info-right-content {
            border-top: 1px solid $border-color;
        }
    }
    .z-info-col,.z-info-fixed-col{
        .z-info-left-content,
        .z-info-right-content {
            padding-bottom: $--p;
        }
    }
}
