@import "../../scss/common/z-form";
:global {
    // .z-form {
    //     width: 86%;
    //     margin: 0 auto !important;
    // }
    .z-no-control-border {
        .ant-input,
        .ant-select-selection,
        .z-liveform-upload-wrapper,
        .ant-input-group-addon,
        .ant-time-picker-input,
        .ant-input-number {
			border-color: transparent;
        }
	}
	.z-input-group-grid{
		display: flex;
		flex-wrap: wrap;
		&>*{
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding:0 8px !important;;
			margin-bottom: 8px !important;
			width: 100% ;
		}
	}

	@media (min-width: 768px){
		.z-input-group-grid{
			&>*{
				width: 100%;
			}
		}
	}
		
	@media (min-width: 992px){
		.z-input-group-grid{
			&>*{
				width: 50%;
			}
		}
	}
	@media (min-width: 1200px){
		.z-input-group-grid{
			&>*{
				width: 33%;
			}
		}
	}
	@media (min-width: 1600px){
		.z-input-group-grid{
			&>*{
				width: 25%;
			}
		}
	}
}
