:global {
    .z-list-header-left,
    .z-list-header-right,
    .z-list-header-center {
        padding: 4px 0;
        margin-bottom: 12px;
        button {
            vertical-align: middle;
        }
    }
    .z-list-header-left,
    .z-list-header-center {
        button {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .z-list-header-right {
        button {
            margin-left: 10px;
            margin-right: 0;
        }
    }

    .z-list-header-left {
        margin-right: 15px;
    }
    .z-list-header-center {
        flex: 1;
    }
}
