@import '../../scss/vars';
$--border-color: darken(#F0F2F6,5%);
:global {
    .z-part-side {
        transition: all 0.5s ease-in;
        position: absolute;
        visibility: hidden;
        height:100%;
        width: 0;
        overflow: auto;
        z-index: 2;
        top: 0;
        &.is-left {
            left: 0;
            border-right: 1px solid $--border-color;
        }
        &.is-right {
            right: 0;
            border-left: 1px solid $--border-color;
        }

    }
}
