@import "../../scssMixin/generateClassName2";
@include z("bg-image-box") {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	&.no-url {
		background-color: #ebebeb;
		color: #cfcfcf;
		font-size: 12px;
	}
	@at-root {
		@include z("bg-image") {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			@include is("bg-top") {
				background-position: top center;
			}
			@include is("bg-center") {
				background-position: center center;
			}
		}
	}
}
