@import '../../scss/vars';
:global {
    .z-writ-wrapper {
        display: flex;
        height: 780px;
        overflow: hidden;
        background-color: $--body-bgcolor;
    }
    .z-writ-left {
        width: 280px;
        display: flex;
        flex-direction: column;
        line-height: normal;
        position: relative;
        overflow: auto;
        padding-right: 14px;
    }
    .z-writ-right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .z-writ-content {
        position: relative;
        overflow: auto;
        flex: 1;
    }
    .z-toggle-btns {
        position: absolute;
        top: 58px;
        left: 30px;
        z-index: 9;
    }
    .z-writ-iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
    .z-writ-list {
        list-style: none;
        margin: 0;
        padding: 0;
        // min-height: 100%;
    }
    $--wirt-item-h: 14px;
    .z-writ-list-item {
        padding: 10px $--wirt-item-h;
        cursor: pointer;
        word-break: break-all;
        background-color: white;
        &:hover {
            background-color: rgba($primary-color, 0.2);
        }
        &.active {
            border-left: 2px solid $primary-color;
            padding-left: $--wirt-item-h - 2;
            background-color: rgba($primary-color, 0.1);
            font-weight: 600;
        }
    }
    .z-writ-list-item + .z-writ-list-item {
        margin-top: 10px;
    }
    .z-writ-list-body {
        flex: 1;
        flex-shrink: 0;
        padding-bottom: 100px;
    }
    $--col-gutter: $--wirt-item-h/2;
    .z-writ-list-header {
        position: sticky;
        z-index: 9;
        top: 0;
        flex-shrink: 0;
        background-color: $--body-bgcolor;
        transition: all .2s ease-out;
        .z-writ-btn-row {
            margin-left: -$--col-gutter;
            margin-right: -$--col-gutter;
            display: flex;
            flex-wrap: wrap;
        }
        .btn-col {
            flex: 1;
            min-width: 50%;
            padding: 0 $--col-gutter 12px;
            text-align: center;
            .ant-btn-sm {
                padding: 0 $--col-gutter;
            }
        }
    }
    .z-writ-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
}
