:global {
	*,
	*::after,
	*::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}
	img {
		border: 0;
	}
	body,
	input,
	textarea,
	keygen,
	select,
	button,
	a {
		font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		color: #333333;
		outline: none;
	}
	html {
		overflow: hidden;
	}
	html,
	body,
	.app-content {
		border: 0;
		height: 100%;
		font-size: 14px;
	}
	.app-body {
		// background-color: #f0f2f5;
		background-color: #f6f6f6;
	}
	.app-content .iconfont {
		font-size: inherit;
		vertical-align: middle;
	}
	.zero-icon {
		font-size: inherit !important;
	}
}
@import "./scss/all";
