@import '../../scss/vars';
:global{
    .z-panel-title{
        color: $heading-color;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '';
            display: block;
            width: 5px;
            background: $primary-color;
            margin-right:14px;
            position: absolute;
            top:10%;
            bottom: 15%;
            left:0;
        }
    }
}