/* create by zgt */
// @import "../vars";
:global {
	.z-load-more-btn {
		border-radius: 0;
		padding: 10px 30px;
		display: block;
		margin: 0 auto;
		height: auto;
	}
	// .z-btn {
	// 	display: inline-block;
	// 	color: $--blue-deep;
	// 	user-select: none;
	// 	font-size: 14px;
	// 	border: 1px solid $border-color-base;
	// 	line-height: initial;
	// 	background-color: white;
	// 	letter-spacing: 2px;
	// 	cursor: pointer;
	// 	&.normal {
	// 		padding: 5px 20px;
	// 		border-radius: $btn-border-radius-base;
	// 	}
	// 	&.small {
	// 		padding: 2px 15px;
	// 		border-radius: $btn-border-radius-sm;
	// 	}
	// 	&.default:hover {
	// 		border-color: $--blue-deep;
	// 	}
	// 	&.primary {
	// 		// background-image: $--primary-bg;
	// 		background-color: $--primary-bg;
	// 		border-color: $--blue-tint;
	// 		color: white;
	// 		&:hover {
	// 			background-color: $--primary-bg-hover;
	// 		}
	// 		&:active {
	// 			background-color: $--primary-bg-active;
	// 		}
	// 	}
	// 	&.success {
	// 		// background-image: $--success-bg;
	// 		background-color: $--success-bg;
	// 		border-color: $--green-tint;
	// 		color: white;
	// 		&:hover {
	// 			background-color: $--success-bg-hover;
	// 		}
	// 		&:active {
	// 			background-color: $--success-bg-active;
	// 		}
	// 	}
	// 	&.danger {
	// 		// background-image: $--danger-bg;
	// 		background-color: $--danger-bg;
	// 		border-color: $--red-tint;
	// 		color: white;
	// 		&:hover {
	// 			background-color: $--danger-bg-hover;
	// 		}
	// 		&:active {
	// 			background-color: $--danger-bg-active;
	// 		}
	// 	}
	// 	&[disabled] {
	// 		color: rgba(0, 0, 0, 0.25);
	// 		background-color: #f5f5f5;
	// 		border-color: #d9d9d9;
	// 		text-shadow: none;
	// 		box-shadow: none;
	// 		&:hover {
	// 			cursor: no-drop;
	// 		}
	// 	}
	// }
	// .z-round-main {
	// 	display: inline-block;
	// 	line-height: initial;
	// }
	// .z-btn + .z-btn,
	// .z-btn + .z-round-main {
	// 	margin-left: 10px;
	// }
}
