/* create by zgt */
@import '../../scssMixin/generateClassName';
//定义flex布局得相关 className

@include z('flex',$global:true){
    display: flex!important;
}
//盒子子元素水平居中
@include z('flex-items-h-center',$global:true){
    display: flex!important;
    justify-content: center;
}
//盒子子元素垂直居中
@include z('flex-items-v-center',$global:true){
    display: flex!important;
    align-items: center;
}
//盒子子元素水平垂直居中
@include z('flex-items-center',$global:true){
    display: flex !important;
    align-items: center;
    justify-content: center;
}
// 盒子子元素底部对齐
@include z("flex-items-end",$global:true){
    display: flex !important;
    align-items: flex-end;
}

//子元素高度跟随文字
@include z('flex-self-baseline',$global:true){
    align-self:baseline;
}
//分隔两端
@include z('flex-space-between',$global:true){
    display: flex!important;
    justify-content: space-between;
}
//纵向排列方式
@include z('flex-direction-column',$global:true){
    display: flex;
    flex-direction: column;
  }
//子元素垂直居中
@include z('flex-self-center',$global:true){
    align-self:center
}
@for $i from 1 through 5 {
    @include z('flex-'+$i,$global:true){
        flex:$i;
    }
}
