@import '../../scssMixin/generateClassName2';
@include z('icon-circle', $global: true) {
    $--w: 24px;
    text-align: center;
    width: $--w;
    height: $--w;
    line-height: $--w;
    border-radius: $--w/2;
    background-color: white;
    color: $primary-color;
    display: inline-block;
    vertical-align: middle;
}
