/* create by zgt */
@import "../../scssMixin/generateClassName";
@import "../vars";
//定义了一种 类似key:value得排版方式 来显示 字段信息
$--label-color:$heading-color;
//z-info
@include z("info", $global: true) {
	position: relative;
	$border-color: #d8ecfc;
	$bg-color: #e7f1fa;
	display: flex;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	margin: 0;
	&:not(:first-child) {
		margin-top: -1px;
	}
	@include is("border-right") {
		border-right: 1px solid $border-color;
	}
	@at-root {
		//z-info-left
		@include z("info-left", $global: true) {
			position: relative;
			color: $--label-color;
			margin: 0;
            width: 160px;
			padding: 10px 16px 0px;
			display: flex;
			align-items: center;
			align-self: auto;
			// border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
			background-color: $bg-color;
		}
		//z-info-right
		@include z("info-right", $global: true) {
			position: relative;
			margin: 0;
			padding: 10px 16px 0px;
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-self: auto;
			white-space:normal;
			word-break: break-all;
		}
	}
}
