/* create by zgt */
@import "../../scssMixin/generateClassName2";
@import "../vars";
$--panel-bg: white;
$--panel-bordercorlor: $border-color-split;
$--panel-head-color: $--primary-color;
$--panel-radius: 4px;
$--panel-padding: 24px;
//定义了 面板className

//生成 z-panel
@include z("panel", $global: true) {
	// box-shadow: $--box-shadow;
	display: block;
	transition: all 0.3s ease-in-out;
	background-color: $--panel-bg;
	position: relative;
	border-radius: $--panel-radius;
	border-color: $--panel-bordercorlor;
	border-style: solid;
	border-width: 0px;
	& > .z-panel-heading:first-child {
		border-radius: $--panel-radius $--panel-radius 0 0;
	}
	& > .z-panel-body:first-child {
		&:first-child {
			border-radius: 0 0 $--panel-radius $--panel-radius;
		}
	}
	//z-pnale.is-radius-top
	@include is("radius-top") {
		//只有上圆角
		border-radius: $--panel-radius $--panel-radius 0 0;
		@include z("panel-body") {
			border-radius: 0;
		}
	}
	//z-pnale.is-radius-bottom
	@include is("radius-bottom") {
		//只有下圆角
		border-radius: 0 0 $--panel-radius $--panel-radius;
		@include z("panel-heading") {
			border-radius: 0 !important;
		}
	}
	@include is("panel-border") {
		border-width: 1px;
	}
	@include is("panel-border-top") {
		border-top-width: 1px;
	}
	@include is("panel-border-bottom") {
		border-bottom-width: 1px;
	}
	@include is("panel-border-left") {
		border-left-width: 1px;
	}
	@include is("panel-border-right") {
		border-right-width: 1px;
	}
	@include is("no-radius") {
		border-radius: 0 !important;
		@include z("panel-heading") {
			border-radius: 0 !important;
		}
		@include z("panel-body") {
			border-radius: 0 !important;
		}
	}
}
//生成 z-panel-heading
@include z("panel-heading", $global: true) {
	padding: 15px $--panel-padding;
	color: $--panel-head-color;
	border-bottom: 1px solid $--panel-bordercorlor;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include is("no-boder") {
		//面板头部无边框
		border: 0px;
	}
}
//z-panel-body
@include z("panel-body", $global: true) {
	padding: $--panel-padding;
	position: relative;
	z-index: 2;
	@include is("no-padding") {
		//面板body全无padding
		padding: 0;
	}
	@include is("no-padding-sides") {
		//面板body左右无padding
		padding-left: 0;
		padding-right: 0;
	}
	@include is("no-padding-vertical") {
		//面板body上下无padding
		padding-top: 0;
		padding-bottom: 0;
	}
}
