/* create by zgt */
@import '../../scssMixin/generateClassName';
@import '../vars';
$--panel-bg:white;
$--panel-bordercorlor:#eeeeee;
$--panel-head-bg:#E3F0FC;
$--panel-head-color:$--primary-6;
$--panel-radius:4px;
$--panel-padding:24px;
//定义了 面板className

//生成 z-panel
@include z('panel',$global:true){
    box-shadow: $--box-shadow;
    width:100%;
    transition: all .3s ease-in-out;
    background-color: $--panel-bg;
    position: relative;
    border-radius:$--panel-radius;
    //z-pnale.is-radius-top
    @include is('radius-top'){//只有上圆角
        border-radius: $--panel-radius $--panel-radius 0 0;
    }
    //z-pnale.is-radius-bottom
    @include is('radius-bottom'){//只有下圆角
        border-radius:0 0 $--panel-radius $--panel-radius;
    }
    @include is('panel-border'){
        border:1px solid $--panel-bordercorlor;
    }
    @include is("no-shadow"){
        box-shadow: none;
    }
}
//生成 z-panel-heading
@include z('panel-heading',$global:true){
    padding:15px $--panel-padding;
    color:$--panel-head-color;
    border-bottom:1px solid $--panel-bordercorlor;
    display:flex;
    align-items: center;
    justify-content: space-between;
    @include is('no-boder'){//面板头部无边框
        border:0px;
    }
}
//z-panel-body
@include z('panel-body',$global:true){
    padding:$--panel-padding;
    position: relative;
    z-index: 2;
    @include is('no-padding'){//面板body全无padding
       padding:0;
    }
    @include is('no-padding-sides'){//面板body左右无padding
        padding-left:0;
        padding-right:0;
    }
    @include is('no-padding-vertical'){//面板body上下无padding
        padding-top:0;
        padding-bottom:0;
    }
}
