@import "../../scssMixin/generateClassName2";
@import "../vars.scss";
// //定义了多种 文字颜色clasName
$--list-var: (
	"text-red": $--red,
	"text-orange": $--orange,
	"text-yellow": $--yellow,
	"text-olive": $--olive,
	"text-green": $--green,
	"text-cyan": $--cyan,
	"text-blue": $--blue,
	"text-purple": $--purple,
	"text-mauve": $--mauve,
	"text-pink": $--pink,
	"text-brown": $--brown,
	"text-grey": $--grey,
	"text-black": $--black,
	"text-darkGray": $--darkGray,
	"text-gray": $--gray,
	"text-white": $--white,
);
//生成 如z-text-blue,z-text-blue-important的 className
@each $i, $color in $--list-var {
	@include z($i, $global: true) {
		color: $color;
	}
	//如需提高 color 权重 使用后缀 "-important"的className
	@include z($i + "-important", $global: true) {
		color: $color !important;
	}
}
