@import '../../scssMixin/generateClassName';

@include z('display-block',$global:true){
    display: block;
}
@include z('display-inline-block',$global:true){
    display: inline-block;
}
@include z('display-inline',$global:true){
    display: inline;
}
@include z('display-none',$global:true){
    display: none;
}

@include z("text-ellipsis",$global:true){
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
