@import './normalize';

@import './common/z-flex';
@import './common/z-float';
@import './common/z-font-size';
@import './common/z-icon-circle';
@import './common/z-info';
@import './common/z-margin-padding';
@import './common/z-panel';
@import './common/z-text-align';
@import './common/z-text-color';
@import './common/z-text-indent';
@import './common/z-visible';
@import './keyframes/z-animate';

@import '../scssMixin/generateClassName';

:global{
	@include z("open-btn"){
        display: inline-block;
        line-height: 1.1;
        font-size: 16px !important;
		transition: all 0.25s cubic-bezier(0,0,0.3,1) !important;
		@include is('down'){
			transform: rotate(180deg);
		}
	}
}