@import "../ant-theme-vars";
$--primary-color: $primary-color;
$--primary-1: rgba($--primary-color, 0.1);
$--primary-2: rgba($--primary-color, 0.2);
$--primary-3: rgba($--primary-color, 0.3);
$--primary-4: rgba($--primary-color, 0.4);
$--primary-5: rgba($--primary-color, 0.5);
$--primary-6: rgba($--primary-color, 0.6);
$--primary-7: rgba($--primary-color, 0.7);
$--primary-8: rgba($--primary-color, 0.8);
$--primary-9: rgba($--primary-color, 0.9);

// $--primary-bg: linear-gradient(90deg, $--blue-tint 0%, $--blue-deep 100%);
// $--primary-bg-hover: linear-gradient(90deg, $--blue-tint 0%, $--blue-tint 100%);
// $--primary-bg-active: linear-gradient(90deg, $--blue-deep 0%, $--blue-deep 100%);
$--primary-bg: $--blue-color;
$--primary-bg-hover: $--blue-tint;
$--primary-bg-active: $--blue-deep;

// $--success-bg: linear-gradient(90deg, $--green-tint 0%, $--green-deep 100%);
// $--success-bg-hover: linear-gradient(90deg, $--green-tint 0%, $--green-tint 100%);
// $--success-bg-active: linear-gradient(90deg, $--green-deep 0%, $--green-deep 100%);

$--success-bg: $--green-color;
$--success-bg-hover: $--green-tint;
$--success-bg-active: $--green-deep;

// $--danger-bg: linear-gradient(90deg, $--red-tint 0%, $--red-deep 100%);
// $--danger-bg-hover: linear-gradient(90deg, $--red-tint 0%, $--red-tint 100%);
// $--danger-bg-active: linear-gradient(90deg, $--red-deep 0%, $--red-deep 100%);

$--danger-bg: $--red-color;
$--danger-bg-hover: $--red-tint;
$--danger-bg-active: $--red-deep;

:global {
	*::-webkit-scrollbar {
		width: $--defatul-ScrollbarSize;
		height: $--defatul-ScrollbarSize;
	}
	*::-webkit-scrollbar-thumb {
		border-radius: $--defatul-ScrollbarRadius;
		// background: $--defatul-ScrollbarColor;
		background: #D3D3D3;
	}
	

	*::-webkit-scrollbar-track {
		background: linear-gradient(to right,#F0F2F5,#E3E6EA 1px,#F0F2F5 1px,#F0F2F5);
	}

}
