:global {
        .z-timeRange-segmentation{
            display: flex !important;
            align-items: center;
            padding:0 5px;
        }
        .z-timeRange-morrow{
            display: flex !important;
            align-items: center;
            padding:0 5px;
            font-size: 12px;
        }
}
