@import "../../scssMixin/generateClassName";
$--border-color: #89cbfa;
:global {
	@include z("live-form-item-clone") {
		padding: 36px 10px 0 !important;
		position: absolute !important;
		border: 1px dashed $--border-color;
		z-index: 9999;
		background-color: rgba(255, 255, 255, 0.6);
		.z-live-tool {
			display: flex;
		}

		.ant-form-item-children,
		.ant-input-number {
			display: inline-block;
		}
		.ant-calendar-picker,
		.ant-form-item-children,
		.ant-input-number , .ant-select{
			width: 100%;
		}
	}
	@include z("live-form") {
		[class*="ant-col-"] {
			padding: 36px 10px 0;
			border-width: 1px;
			border-style: dashed;
			border-color: #dedede;
			&:hover {
				border-color: $--border-color;
				@include z("live-tool") {
					display: flex;
				}
			}
			&.gu-transit {
				border-color: rgba(0, 0, 0, 1);
				background-color: rgba(0, 0, 0, 0.1);
			}
			// &.z-ex-moved {
			// 	border-color: #e74c3c;
			// }
		}
		.z-view-form-panel {
			border-width: 1px;
			border-style: dashed;
			border-color: transparent;
			&:hover {
				border-color: $--border-color;
			}
		}
		.ant-form-item {
			margin-bottom: 10px;
		}
	}

	@include z("live-tool") {
		display: none;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9;
		[data-handle] {
			cursor: move;
		}
	}
	$--item-default: 26px;
	$--item-sm: 20px;
	.z-live-tool-item {
		border-bottom: 1px dashed $--border-color;
		height: $--item-default;
		width: $--item-default;
		text-align: center;
		line-height: $--item-default;
		cursor: pointer;
		display: inline-block;
		color: darken($--border-color, 20%);
		&:hover {
			background-color: lighten($--border-color, 20%);
		}
		&.all-border {
			border: 1px dashed $--border-color;
		}
		&.left-item {
			border-right: 1px dashed $--border-color;
		}
		&.right-item {
			border-left: 1px dashed $--border-color;
		}

		&.small {
			font-size: 12px;
			width: $--item-sm;
			height: $--item-sm;
			line-height: $--item-sm;
		}
		$--delete-color: #f48cc5;
		&.delete {
			border-color: $--delete-color;
			color: darken($--delete-color, 20%);
			&:hover {
				background-color: lighten($--delete-color, 20%);
			}
		}
		$--remove-color: #83ced8;
		&.move {
			border-color: $--remove-color;
			color: darken($--remove-color, 20%);
			&:hover {
				background-color: lighten($--remove-color, 20%);
			}
		}
	}
	.z-liveform-upload-wrapper {
		display: block;
		border: 1px solid hsl(0, 0%, 85%);
		border-radius: 4px;
		padding: 15px;
	}
	.z-liveform-upload {
		.ant-upload.ant-upload-select {
			display: block;
		}
		.ant-upload-list-item-undetermined {
			// border-color: #4BAFF0;
			&::before {
				font-size: 12px;
				display: block;
				color: #e59b1a;
				position: absolute;
				top: 50%;
				right: 30px;
				transform: translate(0, -50%);
				content: "待上传";
			}
		}
		$--done-w: 30px;
		$--done-color: #038900;
		.ant-upload-list-item-done {
			&::before {
				display: block;
				border-radius: $--done-w / 2;
				width: $--done-w;
				text-align: center;
				line-height: $--done-w;
				height: $--done-w;
				// background-color: lighten($--done-color, 60%);
				color: $--done-color;
				position: absolute;
				top: 50%;
				right: 30px;
				transform: translate(0, -50%);
				content: "✔";
			}
		}
	}
	.z-liveform-upload-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 38px;
		border: 1px solid hsl(0, 0%, 85%);
		border-radius: 4px;
		transition: all 0.25s ease;
		&:hover {
			border-color: #5186b8;
			cursor: pointer;
		}
	}
	.z-group-insert {
		transform: rotate(-45deg);
	}
}

@include z("select-input") {
	:global {
		.z-label {
			width: 100% !important;
			// border-right:0;
			.ant-select-selection {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		.z-value {
			// margin-left:-1px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.z-name {
			// margin-left:-1px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		[class*="col-"] {
			padding: 0 !important;
			margin: 0;
		}

		.hasvalue {
			border-color: hsl(0, 0%, 85%);
		}
	}
}
