@import '../../scssMixin/generateClassName';

@include z('page-loading-cover'){
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.4);
    @include z('page-loading'){
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}